html {
  background-color: #fff;
  color: #000;
}

header {
  background-color: #ffe524;
  margin: 0px;

}

h1 {
  font-family: 'Sigmar One';
  color: #b32f52;
  text-align: center;
  margin: 0px;
  font-size: 3rem;
}

h2 {
  font-family: 'Sigmar One';
  color: #b32f52;
  font-size: 2rem;
  border-top: 0.15em solid #ffe524;
  margin: 0.5em;
}

h3 {
  font-family: 'Sigmar One';
  color: #b32f52;
  font-size: 1.5rem;
  margin: 0.75em;
}

body {
  margin: 0px;
}

nav {
  text-align: center;
}

nav ol {
  list-style-type: none;
  padding: 0.5em 2em 2em 0.5em;
  margin: 1em;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  margin: 0.20em;
  background-color: #b2a215;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Merriweather';
}

nav a:hover {
  background-color: #cc3865;
}

p {
  font-family: 'Merriweather';
  margin: 1em;
  font-weight: 300;
}

.per {
  font-family: 'Merriweather';
  margin: 1em;
  font-style: italic;
}

.bold {
  font-family: 'Merriweather';
  font-weight: 900;
}

.quote {
  color: #b2a215;
  text-align: center;
  font-size: 2rem;
  display: block;
  margin: 0.25em;
}

blockquote {
  font-style: italic;
  color: #b2a215;
}

blockquote p {
  margin: 0.25em;
}

cite {
  text-align: center;
  display: block;
  font-family: 'Merriweather';
}

figcaption {
  font-family: 'Merriweather';
  text-align: center;
  font-style: italic;
  font-size: 0.75rem;
}

figure {
  padding: 0.5em;
  border: 2px solid #b2a215;
  border-radius: 10px;
  display: inline-block;
  background-color: #fffce0;
}

dl {
  text-align: left;
  display: block;
  margin: 1em;
}

dd {
  font-family: 'Merriweather';
  display: block;
  margin: 0px;
}

dt {
  font-family: 'Merriweather';
  font-weight: 900;
}

footer {
  background-color: #ffe524;
  margin: 0px;
  text-align: center;
  padding: 1em;
}


footer a:hover {
  color: #cc3865;
}
